
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
	<title>Arzu | Works</title>
</head>
<!-- NEWS -->
<body>
<div id="news" class="shane_tm_section active">
	<div class="shane_tm_news">
		<div class="shane_tm_main_title">
			<h3>Latest <span class="coloring">News</span></h3>
		</div>
		<div class="news_inner">
			<ul>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/1.jpg" alt="" />
							<span class="category">Branding</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">July 25, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">Absolut Rebrand as Part of Their Global Strategy</a></h3>
							<div class="shane_tm_read_more">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/2.jpg" alt="" />
							<span class="category">Marketing</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">July 13, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">The Difference Between Logo Design and Branding</a></h3>
							<div class="shane_tm_read_more">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/3.jpg" alt="" />
							<span class="category">Development</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">June 07, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">Interview with Charlotte Holroyd on Ethical Branding</a></h3>
							<div class="shane_tm_read_more" data-color="">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/1.jpg" alt="" />
							<span class="category">Branding</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">July 25, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">Absolut Rebrand as Part of Their Global Strategy</a></h3>
							<div class="shane_tm_read_more">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/2.jpg" alt="" />
							<span class="category">Marketing</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">July 13, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">The Difference Between Logo Design and Branding</a></h3>
							<div class="shane_tm_read_more">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="list_inner">
						<div class="imagee">
							<img class="main" src="~/images/news/3.jpg" alt="" />
							<span class="category">Development</span>
							<a class="full_link" href="@Url.Action("NewsDetail","NewsDetail")"></a>
						</div>
						<div class="details">
							<span class="date">June 07, 2020</span>
							<h3 class="title"><a href="@Url.Action("NewsDetail","NewsDetail")">Interview with Charlotte Holroyd on Ethical Branding</a></h3>
							<div class="shane_tm_read_more" data-color="">
								<a href="@Url.Action("NewsDetail","NewsDetail")">Read More<span class="arrow"></span></a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
<!-- /NEWS -->
